---
import BaseLayout from '../layouts/BaseLayout.astro';
import BaseLayoutCiberfraude from '../layouts/BaseLayoutCiberfraude.astro';
const description = "Conocé la Fiscalía Especializada en Ciberfraudes (FISEC) del MPF CABA y cómo denunciar estafas digitales.";
---
<BaseLayoutCiberfraude title="Ciberfraude" description={description}>
<div class="flex flex-col">

  <section class="w-full py-0 mt-0 pt-[100px] bg-ciber-blue">
    <div class="max-w-2xl mx-auto px-6">
      <div class="flex flex-col items-center sm:flex-row sm:justify-center sm:relative lg:pb-0 sm:pb-0">
        <div class="flex flex-col items-start text-left text-3xl sm:text-4xl font-semibold leading-tight text-white space-y-1 sm:absolute sm:left-0 sm:top-1/2 sm:-translate-y-1/2 order-1 mb-4 sm:mb-5">
          <p>Si sos víctima de</p>
          <p>una estafa digital,</p>
          <span class="bg-ciber-blue-light px-2">denunciá</span>
        </div>

        <img class="h-auto w-full max-w-[280px] sm:max-w-none sm:h-[380px] object-contain -mb-3 sm:-mb-5 mx-auto sm:ml-auto sm:mr-0 order-2" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1760626244/Ciber_Img1_dnuphs.png" alt="Ciberfraude_Img1">
      </div>
    </div>
  </section>

  <div class="flex flex-col">
    <section class="w-full py-0 mt-8 lg:mt-16 mb-8 bg-[#ffffff]">
      <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-8 text-ciber-blue text-lg sm:text-xl leading-relaxed">
        <div class="space-y-2 relative z-[2]">
            <p class="leading-[1.3] sm:leading-relaxed">
              El Ministerio Público Fiscal de la Ciudad cuenta con una <i>Fiscalía Especializada en Ciberfraudes (FISEC)</i> que investiga los delitos de defraudación mediante el uso de una tarjeta de compra, crédito o débito, y las que se realizan a través de cualquier manipulación informática / digital.
            </p>
          </div>
      </div>
    </section>

    <div class="flex flex-col">
      <section class="w-full bg-white pb-12">
        <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-8 text-[#1d4891] text-lg sm:text-xl leading-relaxed">
          <div class="space-y-4">
            <p class="font-semibold">¿Qué podés denunciar?</p>
            <ul class="list-disc ml-6 space-y-1.5 text-lg leading-[1.3] sm:leading-relaxed" style="list-style-position: outside;">
              <li>Defraudación por robo, falsificación, adulteración o pérdida de tarjetas.</li>
              <li>Uso no autorizado de los datos de una tarjeta o cuenta bancaria obtenidos a través de un engaño y que produzcan perjuicio económico.</li>
              <li>Defraudación con técnicas de manipulación informática que alteran el funcionamiento de un sistema informático o la transmisión de datos.</li>
              <li>Fraudes en línea: consumos, transferencias de fondos o débitos de cuentas bancarias, billeteras virtuales o plataformas de pago o inversión, sin la autorización de su titular.</li>
            </ul>
            <p class="font-semibold text-lg leading-[1.3] sm:leading-relaxed pt-4">
              La fiscalía (FISEC) no realiza los reclamos al banco o a la plataforma de pago involucrada, ni los trámites administrativos vinculados. Se recomienda a la persona denunciante asesorarse con Defensa del Consumidor o realizar la correspondiente demanda en el fuero Civil y Comercial, asesorado por su abogado de confianza.
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</BaseLayoutCiberfraude>
