---
import BaseLayout from '../layouts/BaseLayout.astro';
const description = "Conocé tus derechos y quién los defiende. Guía de denuncias del MPF CABA.";
---
<BaseLayout title="Guía de Denuncias - MPF CABA" description={description}>

    <section class="flex flex-col bg-guia relative text-white pt-40">
        <div class="justify-center text-center">
          <p class="text-sm tracking-normal sm:tracking-widest lg:tracking-widest">CONOCÉ TUS DERECHOS Y QUIÉN LOS DEFENDE</p>
          <h1 class="font-bold mt-4 leading-none text-5xl sm:text-6xl lg:text-7xl pb-28">
            <span class="inline-block bg-white text-guia px-5 py-2">Guía</span><br>
            <span class="inline-block bg-white text-guia px-5 py-2 mt-3">de denuncias</span>
          </h1>
        </div>

      </div>
    </section>

    <section class="StandardContainer mt-10">
        <span class="titleGuia-Col">¿Qué es el MPF?</span>
        <div class="TxtBase space-y-4 text-[#1F7A8C] mt-4">
          <p>El Ministerio Público Fiscal de la Ciudad de Buenos Aires (MPF) es un órgano del Poder Judicial con un/a Fiscal General a cargo. El MPF está integrado por fiscales y trabajadores/as que los/as asisten, para investigar y presentar las pruebas a los juzgados, y así determinar la culpabilidad o inocencia.</p>
          <p>El MPF tiene como función defender los intereses generales de la sociedad y perseguir los delitos, contravenciones y faltas, según lo determina la Constitución, leyes de la Ciudad y criterios generales de actuación del/la Fiscal General.</p>
        </div>
        
        <img src="https://res.cloudinary.com/dnf5pehhx/image/upload/v1760034228/img1_hvvnlo.png" alt="Ilustración de personas dialogando sobre denuncias" class="mb-4 mt-4 w-full max-w-lg mx-auto">

        <div class="TxtBase text-[#1F7A8C]">
          <p>El Ministerio Público Fiscal actúa de oficio o por una denuncia que presente cualquier persona en temáticas sobre:</p>
          <ul class="listado TxtBase mt-4">
            <li >Violencia de Género</li>
            <li >Discriminación, Acoso y Xenofobia</li>
            <li >Delitos Informáticos</li>
            <li >Delitos contra el medio Ambiente</li>
            <li >Maltrato Animal</li>
            <li >Narcomenudeo</li>
            <li >Delitos en espectáculos masivos</li>
          </ul>
        </div>
    </section>

    <section class="bg-gray-50 mt-8 pt-10">
      <div class="StandardContainer">
        <span class="titleGuia-Col">¿Qué sucede con las denuncias?</span>

        <div class="TxtBase space-y-10 pb-8 mt-8">
          <div>
            <h3 class="text-guia font-bold">PASO 1</h3>
            <h4 class="text-gray-800 font-semibold TitleBase mb-2">Análisis de la Denuncia</h4>
            <p class="text-lg text-gray-700">Primero se recibe la denuncia por las distintas vías, incluso online o por teléfono, y se la analiza para saber si el hecho constituiría o no un delito. El/la fiscal puede investigar el hecho. En su caso, si no es un delito, contravención o falta se archiva pero puede sugerirse alguna otra vía legal.</p>
          </div>
          <div>
            <h3 class="text-guia font-bold">PASO 2</h3>
            <h4 class="text-gray-800 font-semibold TitleBase mb-2">Recolección de pruebas</h4>
            <p class="text-lg text-gray-700">Si el MPF tiene elementos para continuar el caso entonces puede recolectar las pruebas, por ejemplo entrevistar testigos, pedir informes a organismos públicos y privados. También inspeccionar lugares y objetos, pedir pericias, el secuestro de elementos de prueba y demás medidas de investigación previstas por la ley.</p>
          </div>
          <div>
            <h3 class="text-guia font-bold">PASO 3</h3>
            <h4 class="text-gray-800 font-semibold TitleBase mb-2">Investigación penal preparatoria</h4>
            <p class="text-lg text-gray-700">Cuando el MPF reúne elementos suficientes para sospechar que una persona es autora de los hechos denunciados, puede citarla para declarar en una audiencia, previa comunicación, a la que puede asistir con su abogado/a o defensor/a oficial.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-guia TxtBase text-white pb-8">
    <div class="StandardContainer pt-10 pb-6">
      <span class="titleGuia-Wh">¿Cómo sigue el proceso?</span>
      <div class="space-y-4 mt-4">
        <p>La persona citada puede o no declarar sin que implique una presunción en su contra y sin tener la obligación de decir la verdad, según art.18 de la Constitución Nacional. Lógicamente, no todos los casos ameritan celebrar esta audiencia ni llegan a juicio oral. En ciertos casos el conflicto puede ser resuelto de modo más útil mediante el acercamiento de las partes con un/a mediador/a judicial.</p>
        <p>También puede acordarse con el/la imputado/a la suspensión del proceso penal o contravencional a cambio del cumplimiento de una serie de reglas de conducta que beneficien a la comunidad y del ofrecimiento de la reparación del daño causado a la víctima. A esto se lo conoce como <strong>Probation</strong>.</p>
      </div>

      <div class="space-y-4 mt-10"></div>
        <span class="titleGuia-Wh">¿Qué puedo denunciar?</span>
        <div class="space-y-4 mt-4">
          <p><strong>DELITOS:</strong> Portación, tenencia y suministro ilegal de armas de fuego de uso civil. Lesiones. Abandono de personas. Omisión de auxilio. Exhibiciones obscenas. Ejercicio ilegal de la medicina. Violación de domicilio. Malos tratos y actos de crueldad a los animales. Daños. Uso de armas y explosivos en espectáculos públicos. Justificación o promoción de actos discriminatorios. Incumplimiento de deberes de asistencia familiar. Usurpación. Amenazas. Estafa a través de medios informáticos.</p>
          <p><strong>CONTRAVENCIONES:</strong> Difusión no autorizada de imágenes o grabaciones íntimas. Uso indebido del espacio público con fines lucrativos. Oferta y demanda de sexo en espacios públicos. Cuidar coches sin autorización. Ruidos molestos. Violación de una clausura impuesta por autoridad judicial / administrativa. Conducir en estado de ebriedad o bajo efecto de estupefacientes. Hostigamiento.</p>
          <p><strong>FALTAS:</strong> Bromatológicas o alimentos en infracción. Higiene y sanidad. Ambiente. Residuos patogénicos. Seguridad y prevención de siniestros. Tránsito. Actividades constructivas. Publicidad prohibida. Derechos del consumidor. Protección de niños, niñas o adolescentes.</p>
        </div>
      </div>
    </div>
  </section>

</BaseLayout>

</body>

</html>
