---
import BaseLayoutNNyA from '../layouts/BaseLayoutNNyA.astro';
---

<BaseLayoutNNyA title="Qué hace el MPF CABA por NNyA" description="Información sobre el trabajo del MPF CABA con Niños, Niñas y Adolescentes">
  
  <main class="pt-0 sm:pt-0 flex-grow">

    <div class="flex flex-col bg-nnya-fuchsia items-center pt-0 sm:pt-28 h-[550px]">
      <div class="flex flex-row flex-wrap justify-center gap-x-2 sm:flex-col sm:items-start text-center sm:text-left text-3xl sm:text-4xl font-semibold leading-tight text-white sm:space-y-1 mt-0 sm:mt-4 -mb-4 sm:mb-0">
        <span class="bg-[#690d55] text-white px-2 py-0 sm:py-1 w-full h-24 block sm:hidden"></span>
        <span class="bg-[#690d55] text-white px-2 py-0 sm:py-1">¿Qué hace el MPF CABA por</span>
        <span class="bg-[#690d55] text-white px-2 py-0 sm:py-1 pb-4 sm:pb-0 sm:ml-10">los Niños, Niñas y Adolescentes?</span>
      </div> 

      <p class="StandardContainer TxtBase mt-12 lg:mt-8 sm:mt-8 text-white">
        En el Ministerio Público Fiscal de la Ciudad contamos con un área encargada de asistir a todos los niños, niñas y adolescentes.
      </p> 
    </div>
    
    <div class="flex justify-center -mt-36 sm:-mt-48">
      <img
        src="https://res.cloudinary.com/dnf5pehhx/image/upload/v1758207790/Sin-t%C3%ADtulo-1_zoment.png" alt="Ilustración de NNyA"
        class="w-full max-w-[240px] sm:max-w-sm mx-auto"
      />
    </div>

    <section class="w-full bg-white text-nnya-fuchsia mb-8  mt-6">
      <div class="StandardContainer">
        <span class="titleNNyA-Col">¿Quién puede denunciar?</span>
        <ul class="listado mt-4">
          <li>Niños, niñas y adolescentes víctimas de un delito.</li>
          <li>Familiares y personas adultas referentes (docentes, vecinos, personal de organismos, etc.).</li>
          <li>Cualquier persona con conocimiento o sospecha de vulneración de derechos.</li>
        </ul>
        <p class="TxtBase font-semibold pt-4">
          Si necesitás más asesoramiento o querés denunciar de manera presencial, acercate a cualquiera de nuestros Puntos de Acceso en la Ciudad.
        </p>
      </div>
    </section>

    <section class="StandardContainer pb-8s sm:pb-8">
          <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1766071426/Map_mxi0mp.png" alt="TesterMap">
    </section>

    <section class="w-full bg-white text-nnya-fuchsia sm:pt-2 pb-12">
      <div class="StandardContainer space-y-3">
        <p class="TxtBase">
          El Ministerio Público Fiscal de la Ciudad trabaja por una justicia ágil y cercana, que promueve el respeto de los derechos y la protección a las víctimas.
        </p>
        <p class="text-3xl sm:text-2xl font-bold leading-[1.05] sm:leading-[1.2] pt-4">
          Si sabés que un niño, niña o adolescente es víctima de un delito,
          <span class="underline decoration-pink-200 decoration-4 underline-offset-2">denunciá.</span>
        </p>
        <p class="TxtBase text-nnya-fuchsia/70 font-semibold">Tu denuncia importa.</p>
      </div>
    </section>
    
    <section class="w-full bg-nnya-fuchsia text-white">
      <div class="StandardContainer relative pt-4 sm:pt-16 h-[830px] space-y-8">
        <span class="titleNNyA-Wh pt-8 sm:pt-0">¿Qué podés denunciar?</span>
        <ul class="listado">
          <li>Explotación y/o abuso sexual (con o sin contacto físico).</li>
          <li>Acoso sexual virtual (grooming).</li>
          <li>Maltrato físico, psicológico o emocional.</li>
          <li>Hostigamiento y amenazas (virtual o presencial).</li>
          <li>Incumplimiento de medidas judiciales de protección.</li>
          <li>Otros delitos…</li>
        </ul>
        <p class="TxtBase font-semibold pt-2">
          Podés denunciar toda situación de riesgo que afecte la integridad física, psicológica, emocional o sexual de los niños, niñas y adolescentes.
        </p>
        <p class="TxtBase text-white/70">
          Es muy importante garantizar cuanto antes la protección de la víctima y denunciar el hecho a la brevedad.
        </p>
        <img src="https://res.cloudinary.com/dnf5pehhx/image/upload/v1757699734/Sin-t%C3%ADtulo-1_pcin8b.png" alt="Ilustración de una mujer abrazando a un niño"
          class="flex mx-auto max-w-[240px] sm:max-w-[320px] xl:max-w-[340px] ml-0 sm:ml-28"/>
      </div>
    </section>
        
    <section class="StandardContainer pt-16 sm:pt-28 bg-white text-nnya-fuchsia">
      <p class="TxtBase font-semibold">Es importante que sepas que:</p>
      <ul class="listado pt-4">
        <li>Si ya hiciste una denuncia y ocurrieron nuevos hechos, tenés que volver a denunciar para que se puedan ordenarnuevas medidas de protección.</li>
        <li>Si el hecho sucedió en otra provincia, igual podés denunciar en CABA.</li>
        <li>Tenemos un espacio para la promoción y protección de derechos de NNyA en Av. Paseo Colón 1333 piso 7°, de lunes a viernes de 9 a 15 hs. Es una sala con juegodondeNNyA pueden permanecer mientras sus cuidadores realizan trámites vinculados a denuncias y procesos judiciales.</li>
        <li>Siempre tenés derecho a saber cómo sigue tu denuncia.</li>
      </ul>
    </section>
  </main>
</BaseLayoutNNyA>
