---
import BaseLayoutUfema from '../layouts/BaseLayoutUfema.astro';
const description = "Conocé la Unidad Fiscal Especializada en Medio Ambiente y Maltrato Animal (UFEMA) del MPF CABA y cómo denunciar.";
---
<BaseLayoutUfema title="UFEMA – Registro Oficial de Adoptantes y/o Custodios Legales" description={description}>
<div class="flex flex-col reveal-on-scroll">

  <!--SECCION 1-->
  <section class="w-full py-0 -mt-16 pt-[120px] bg-ufema-blue">
    <div class="max-w-4xl mx-auto px-6">
      <div class="flex flex-col sm:flex-row items-center justify-center gap-4">

        <!-- Título -->
        <div class="flex flex-col items-start text-2xl sm:text-4xl font-semibold leading-tight text-white space-y-1 order-2 sm:order-1 reveal-on-scroll w-full sm:w-auto">
          <span class="bg-[#05abb7] px-2">Denunciá</span>
          <span class="bg-[#05abb7] px-2 sm:ml-10">Maltrato animal</span>
          <p class="text-2xl sm:text-3xl sm:ml-12">(pero en la Justicia)</p>
        </div>

        <!-- Imagen -->
        <div class="order-1 sm:order-2">
            <img class="h-[250px] sm:h-[350px] w-auto object-contain reveal-on-scroll" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1760542087/Ufema_Img1_tubbsz.png" alt="Ufema_Img1">
        </div>

      </div>
    </div>
  </section>

  <div class="flex flex-col">
    <section class="w-full py-0 mt-16 mb-38 bg-[#ffffff]">
      <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-8 text-ufema-blue text-lg sm:text-xl leading-[1.3] sm:leading-relaxed reveal-on-scroll">
        <div class="space-y-2 relative z-[2]">
          <span class="bg-[#05abb7] px-2 text-white text-xl font-semibold">¿Qué es la UFEMA?</span>
          <p class="pl-4">
            El Ministerio Público Fiscal de La Ciudad cuenta con la <i>Unidad Fiscal Especializada en Medio Ambiente Y Maltrato Animal (UFEMA)</i> que se encarga exclusivamente de investigar los delitos en los que se vea comprometida la integridad animal la seguridad pública y el medio ambiente.
          </p>
        </div>
      </div>
    </section>
      
    <div class="flex flex-col">
      <section class="w-full bg-white">
        <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-8 text-ufema-blue text-lg sm:text-xl leading-[1.3] sm:leading-relaxed reveal-on-scroll">
          <div class="space-y-6">
            <div class="space-y-2 reveal-on-scroll">
            <p class="font-semibold">Recomendaciones:</p>
            <ul class="list-disc list-inside ml-6 space-y-1 text-lg">
              <li>Brindá tus datos personales y, si los tenés, los de la persona que querés denunciar.</li>
              <li>Aclará todos los datos que puedas sobre el hecho denunciado, lugar, fecha, hora...</li>
              <li>Aportá pruebas como fotos, videos, audios, capturas de pantalla, documentos, etc.</li>
              <li>Identificá con sus datos a otras personas involucradas y/o testigos.</li>
              <li>Evitá denunciar por redes sociales antes de acudir a la justicia. Eso puede alertar al maltratador/a y entorpecer la investigación.</li>
            </ul>
          </div>
            <p class="font-semibold text-lg">Evitá compartir información personal, especialmente en medios digitales.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
</BaseLayoutUfema>
