---
import BaseLayoutUfema from '../layouts/BaseLayoutUfema.astro';
const description = "Conocé la Unidad Fiscal Especializada en Medio Ambiente y Maltrato Animal (UFEMA) del MPF CABA y cómo denunciar.";
---
<BaseLayoutUfema title="UFEMA – Registro Oficial de Adoptantes y/o Custodios Legales" description={description}>
<div class="flex flex-col bg-[#fafafa]">

  <section class="w-full py-0 mt-0 pt-[100px] sm:pt-[130px] bg-ufema-blue">
    <div class="max-w-4xl mx-auto px-6">
      <div class="flex flex-col sm:flex-row items-center justify-center gap-4">

        <div class="flex flex-col items-center sm:items-start text-4xl sm:text-4xl leading-tight text-white space-y-1 order-1 w-full sm:w-auto pb-6 sm:pb-0">
          <span class="bg-[#05abb7] px-2 font-semibold">Denunciá</span>
          <span class="bg-[#05abb7] px-2 sm:ml-10 font-semibold">Maltrato animal</span>
        </div>

        <div class="order-2 -mb-9 -mt-6 sm:mt-0">
            <img class="h-[250px] sm:h-[350px] w-auto object-contain" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1760542087/Ufema_Img1_tubbsz.png" alt="Ufema_Img1">
        </div>
      </div>
    </div>
  </section>

  <section class="w-full text-ufema-blue mt-16 sm:mt-8">
    <div class="StandardContainer TxtBase">
      <span class="titleUFEMA-Col">¿Qué es la UFEMA?</span>
      <p class="pl-4 pt-4">
        El Ministerio Público Fiscal de La Ciudad cuenta con la <i>Unidad Fiscal Especializada en Medio Ambiente Y Maltrato Animal (UFEMA)</i> que se encarga exclusivamente de investigar los delitos en los que se vea comprometida la integridad animal la seguridad pública y el medio ambiente.
      </p>
      <p class="font-semibold mt-8 sm:mt-12 pb-2">Recomendaciones:</p>
      <ul class="listado TxtBase">
        <li>Brindá tus datos personales y, si los tenés, los de la persona que querés denunciar.</li>
        <li>Aclará todos los datos que puedas sobre el hecho denunciado, lugar, fecha, hora...</li>
        <li>Aportá pruebas como fotos, videos, audios, capturas de pantalla, documentos, etc.</li>
        <li>Identificá con sus datos a otras personas involucradas y/o testigos.</li>
        <li>Evitá denunciar por redes sociales antes de acudir a la justicia. Eso puede alertar al maltratador/a yentorpecer la investigación.</li>
      </ul>
      <p class="font-semibold pt-6 sm:pt-4">Evitá compartir información personal, especialmente en medios digitales.</p>
    </div>
  </section>
</div>
</BaseLayoutUfema>
