---
import BaseLayoutVG from '../layouts/BaseLayoutVG.astro';
const description = "Información sobre los tipos de violencia de género y cómo el MPF CABA trabaja para proteger a las víctimas.";
---
<BaseLayoutVG title="Violencia de Género - MPF CABA" description={description}>
<div class="flex flex-col reveal-on-scroll">

  <!--SECCION 1-->
  <section class="w-full py-0 mt-0 pt-[60px] sm:pt-[100px] bg-vg-purple">
    <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-2 sm:space-y-8">
      <div class="flex justify-center reveal-on-scroll">
        <img class="h-[250px] w-auto object-contain pl-2 -mb-8 reveal-on-scroll" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758333758/Title_VG_i3cxby.png" alt="TitleVG">
      </div>
      <!-- Contenedor para centrar el bloque de texto en móvil -->
      <div class="flex justify-start">
        <h1 class="flex flex-col items-start text-2xl sm:text-4xl font-semibold leading-tight text-white space-y-1 reveal-on-scroll">
          <span class="bg-white text-vg-purple px-2 ml-12">Te contamos</span>
          <span class="bg-white text-vg-purple px-2 ml-26">cómo reconocerlas</span>
        </h1>
      </div>

      <div class="space-y-6 text-white text-lg sm:text-xl leading-[1.3] sm:leading-relaxed pt-6 reveal-on-scroll">
        <div class="flex flex-col relative">
          <img class="h-[28px] w-auto object-contain z-[1] absolute mt-2 -left-4 hidden sm:block" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
        </div>
        <div class="space-y-2 relative z-[2]">
          <span class="bg-white text-vg-purple px-2 text-xl font-semibold">Violencia física</span>
          <p class="pl-4">
            La que se emplea contra el cuerpo de la mujer produciendo dolor, daño o riesgo de producirlo y cualquier otra forma de maltrato o agresión que afecte su integridad física.
          </p>
          <div class="flex justify-center pt-2">
            <img class="w-3/4 h-auto sm:h-[400px] sm:w-auto" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758345930/VG_img1_nzvvad.png" alt="imagen1">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="flex flex-col -mt-22">
    <section class="w-full py-0 -mt-16 pt-[100px] bg-[#ffffff]">
      <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-8 text-vg-purple text-lg sm:text-xl leading-[1.3] sm:leading-relaxed reveal-on-scroll">
        <div class="flex flex-col relative">
          <img class="h-[28px] w-auto object-contain z-[1] absolute mt-5 -left-4 hidden sm:block" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
        </div>
        <div class="space-y-2 relative z-[2]">
          <span class="bg-vg-purple-light text-white px-2 text-xl font-semibold">Violencia psicológica</span>
          <p class="pl-4">
            Es la violencia que causa daño emocional y disminución de la autoestima o perjudica y perturba el pleno desarrollo personal. Busca degradar o controlar sus acciones, comportamientos, creencias y decisiones mediante amenaza, acoso, hostigamiento, restricción, humillación, deshonra, descrédito, manipulación y aislamiento, entre muchas otras.
          </p>
          <div class="flex justify-center pt-0">
            <img class="w-3/4 h-auto sm:h-[400px] sm:w-auto" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758345885/Vg_Img2_dl6bjl.png" alt="imagen2">
          </div>
        </div>
      </div>
    </section>
  </div>
      
  <div class="flex flex-col">
    <section class="w-full -mt-28 pt-[100px] bg-[#6f1264]">
      <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-8 text-white text-lg sm:text-xl leading-[1.3] sm:leading-relaxed reveal-on-scroll bg-vg-purple">
        <div class="space-y-6 relative">
          <div class="flex flex-col relative">
            <img class="h-[28px] w-auto object-contain z-[1] absolute mt-2 -left-4 hidden sm:block" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
          </div>
          <div class="space-y-2 relative z-[2]">
            <span class="bg-white text-vg-purple px-2 text-xl font-semibold">Violencia sexual</span>
            <p class="pl-4">
              Cualquier acción que implique la vulneración en todas sus formas, con o sin acceso genital, del derecho de la mujer de decidir voluntariamente acerca de su vida sexual o reproductiva. Se ejerce a través de amenazas, coerción, uso de la fuerza o intimidación, incluyendo violación dentro del matrimonio u otras relaciones, así como prostitución forzada, explotación, esclavitud, acoso, abuso sexual y trata de mujeres.
            </p>
            <div class="flex justify-center -pt-4">
              <img class="w-full h-auto sm:h-[280px] sm:w-auto" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758401277/Vg_Img3_wiiyl6.png" alt="imagen3">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="flex flex-col">
    <section class="w-full -mt-5 pt-[0px] bg-white">
      <div class="flex flex-col max-w-2xl mx-auto px-6 space-y-4 sm:space-y-8 text-vg-purple text-lg sm:text-xl leading-[1.3] sm:leading-relaxed reveal-on-scroll">
        <!-- Violencia económica y patrimonial -->
        <div class="space-y-6 mt-6">
          <div class="flex flex-col relative">
            <img class="h-[28px] w-auto object-contain z-[1] absolute mt-2 -left-4 hidden sm:block" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
          </div>
          <div class="space-y-2 relative z-[2]">
            <span class="bg-vg-purple-light text-white px-2 text-xl font-semibold">Violencia económica y patrimonial</span>
            <p class="pl-4">
              Es aquella que se dirige a ocasionar un menoscabo en los recursos económicos o patrimoniales de la mujer, a través de la perturbación de la posesión o propiedad de sus bienes. Incluye pérdida, sustracción, destrucción, retención o distracción indebida de objetos, instrumentos de trabajo, documentos personales y derechos patrimoniales.
            </p>
            <div class="flex justify-center">
              <img class="w-full h-auto sm:h-[280px] sm:w-auto" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758402468/Vg_Img4_ghldpo.png" alt="imagen4">
            </div>
          </div>
        </div>
        <!-- Violencia simbólica -->
        <div class="space-y-6 reveal-on-scroll relative">
          <div class="flex flex-col relative -mt-6">
            <img class="h-[28px] w-auto object-contain z-[1] absolute mt-2 -left-4 hidden sm:block" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
          </div>
          <div class="space-y-2 relative z-[2]">
            <span class="bg-vg-purple-light text-white px-2 text-xl font-semibold">Violencia simbólica</span>
            <p class="pl-4">
              Se ejerce mediante patrones estereotipados, mensajes, valores, íconos o signos que transmiten y reproducen dominación, desigualdad y discriminación en las relaciones sociales, naturalizando la subordinación de la mujer. Incluye limitación de recursos económicos destinados a sus necesidades o privación de medios indispensables para vivir dignamente.
            </p>
          </div>
        </div>
        <!-- Ámbitos de manifestación -->
        <div class="space-y-2 reveal-on-scroll pb-10">
          <p class="font-semibold">Además, existen diferentes ámbitos donde se manifiesta la violencia de género:</p>
          <ul class="list-disc list-inside ml-6 space-y-1">
            <li>Violencia doméstica</li>
            <li>Violencia obstétrica</li>
            <li>Violencia institucional</li>
            <li>Violencia laboral</li>
            <li>Violencia público-política</li>
            <li>Violencia mediática contra las mujeres</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
</BaseLayoutVG>
