---
import BaseLayoutVG from '../layouts/BaseLayoutVG.astro';
const description = "Información sobre los tipos de violencia de género y cómo el MPF CABA trabaja para proteger a las víctimas.";
---
<BaseLayoutVG title="Violencia de Género - MPF CABA" description={description}>
<div class="pt-0 sm:pt-0 flex-grow">

  <section class="w-full pt-[60px] sm:pt-24 bg-[#6F1264]">
    <div class="StandardContainer space-y-2 sm:space-y-8">

      <img data-aos="zoom-in" data-aos-duration="1000" class="flex justify-center h-[250px] w-auto object-contain -mb-8 mt-[-1rem] sm:mt-0 pr-0 sm:pr-10" src="https://res.cloudinary.com/du83pwamg/image/upload/v1762784981/Title_VG_drkhpy.png" alt="TitleVG">

      <div class="flex justify-start">
        <div class="flex flex-col items-start text-[1.20rem] sm:text-4xl font-semibold leading-tight text-white space-y-1 -mt-8 sm:mt-0 -mb-4 sm:mb-0">
          <span class="bg-[#4f0047] text-white px-2 ml-4 sm:ml-10" data-aos="fade-right" data-aos-delay="200" data-aos-duration="1000">Te contamos</span>
          <span class="bg-[#4f0047] text-white px-2 ml-10 sm:ml-20" data-aos="fade-right" data-aos-delay="350" data-aos-duration="1000">cómo reconocerlas</span>
        </div>
      </div>
    </div>
  </section>

  <section class="TxtBase grid grid-cols-1 bg-[linear-gradient(to_bottom,#6F1264_75%,white_75%)]">
    <div class="font-semibold text-white col-span-4 StandardContainer text-start mt-14" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <div class="flex flex-col relative">
        <img class="simbol" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
      </div>
      <span class="titleVG-Wh relative z-[2]">Violencia física</span>
    </div>

    <div class="font-normal text-white col-span-4 StandardContainer text-start mt-2" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <p class="pl-4">La que se emplea contra el cuerpo de la mujer produciendo dolor, daño o riesgo de producirlo y cualquier otra forma de maltrato o agresión que afecte su integridad física.</p>
    </div>

    <div class="col-span-4 flex justify-center" data-aos="fade-down" data-aos-delay="200" data-aos-duration="800">
      <img src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758345930/VG_img1_nzvvad.png" alt="Imagen1"
      class="h-60 w-auto sm:h-80 mt-6 sm:mt-8"/>
    </div>
  </section>


  <section class="TxtBase grid grid-cols-1 bg-[linear-gradient(to_bottom,white_75%,#6F1264_75%)]">
    <div class="font-semibold text-[#6F1264] col-span-4 StandardContainer text-start mt-8" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <div class="flex flex-col relative">
        <img class="simbol" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
      </div>
      <span class="titleVG-Col relative z-[2]">Violencia psicológica</span>
    </div>

    <div class="font-normal text-[#6F1264] col-span-4 StandardContainer text-start mt-2" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <p class="pl-2">Es la violencia que causa daño emocional y disminución de la autoestima o perjudica y perturba el pleno desarrollo personal. Busca degradar o controlar susacciones, comportamientos, creencias y decisiones mediante amenaza, acoso, hostigamiento, restricción, humillación, deshonra, descrédito, manipulación y aislamiento, entre muchas otras.</p>
    </div>

    <div class="col-span-4 flex justify-center" data-aos="fade-left" data-aos-delay="200" data-aos-duration="800">
      <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1766423406/Vg_Img2_akbv8i.png" alt="Imagen2"
      class="h-60 w-auto sm:h-96 mt-6 sm:mt-2"/>
    </div>
  </section>

  <section class="TxtBase grid grid-cols-1 bg-[#6f1264]">
    <div class="font-semibold text-[#6F1264] col-span-4 StandardContainer text-start mt-8" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <div class="flex flex-col relative">
        <img class="simbol" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
      </div>
      <span class="titleVG-Wh relative z-[2]">Violencia sexual</span>
    </div>

    <div class="font-normal text-white col-span-4 StandardContainer text-start mt-2" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <p class="pl-2">Cualquier acción que implique la vulneración en todas sus formas, con o sin acceso genital, del derecho de la mujer de decidir voluntariamente acerca de su vida sexual o reproductiva. Se ejerce a través de amenazas, coerción, uso de la fuerza o intimidación, incluyendo violación dentro del matrimonio u otras relaciones, así como prostitució forzada, explotación, esclavitud, acoso, abuso sexual y trata de mujeres.</p>
    </div>

    <div class="col-span-4 flex justify-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
      <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1767369155/Vg_Img3_wbhmsh.png" alt="Imagen3"
      class="h-40 w-auto sm:h-60 mt-6 sm:mt-0"/>
    </div>
  </section>

  
  <section class="w-full -mt-3 sm:mt-0 pt-0">
    <div class="flex flex-col StandardContainer text-[#6F1264]">
        
      <div class="space-y-6 mt-8" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800"> 
        <div class="flex flex-col relative">
          <img class="simbol mt-3" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
        </div>
        <div class="space-y-2 relative z-[2]">
          <span class="titleVG-Col">Violencia económica y patrimonial</span>
          <p class="TxtBase pl-4">
            Es aquella que se dirige a ocasionar un menoscabo en los recursos económicos o patrimoniales de la mujer, a través de la perturbación de la posesión o propiedad de sus bienes. Incluye pérdida, sustracción, destrucción, retención o distracción indebida de objetos, instrumentos de trabajo, documentos personales y derechos patrimoniales.
          </p>
          <div class="flex justify-center">
            <img class="w-full h-auto sm:h-[280px] sm:w-auto" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758402468/Vg_Img4_ghldpo.png" alt="imagen4">
          </div>
        </div>
      </div>

      <div class="space-y-6 relative" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
        <div class="flex flex-col relative mt-0">
            <img class="simbol mt-3" src="https://res.cloudinary.com/dwe3wlivo/image/upload/v1758339175/Symbol_lreybu.png" alt="simbolo">
        </div>
        <div class="relative z-[2] space-y-2">
          <span class="titleVG-Col">Violencia simbólica</span>
          <p class="TxtBase pl-4">
            Se ejerce mediante patrones estereotipados, mensajes, valores, íconos o signos que transmiten y reproduce dominación, desigualdad y discriminación en las relaciones sociales, naturalizando la subordinación de la mujer. Incluye limitación de recursos económicos destinados a sus necesidades o privación de medios indispensables para vivir dignamente.
          </p>
        </div>
      </div>

      <div class="space-y-2 mt-8" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
        <p class="TxtBase font-semibold mb-4">Existen diferentes ámbitos donde se manifiesta la violencia de género:</p>
        <ul class="listado TxtBase">
          <li>Violencia doméstica</li>
          <li>Violencia obstétrica</li>
          <li>Violencia institucional</li>
          <li>Violencia laboral</li>
          <li>Violencia público-política</li>
          <li>Violencia mediática contra las mujeres</li>
        </ul>
      </div>
    </div>
  </section>
  
</div>
</BaseLayoutVG>
