---
import BaseLayoutVG from '../layouts/BaseLayoutVG.astro';
const description = "Información sobre los tipos de violencia de género y cómo el MPF CABA trabaja para proteger a las víctimas.";
---
<BaseLayoutVG title="Violencia de Género - MPF CABA" description={description}>
<div class="pt-0 sm:pt-0 flex-grow">

  <section class="w-full pt-[60px] sm:pt-24 bg-[#6F1264]">
    asd
  </section>
  
</div>
</BaseLayoutVG>
