@tailwind base;
@tailwind components;

:root {
    color-scheme: light;
}

.titleVG-Wh {
    @apply bg-white text-[#6F1264] px-2 text-xl sm:text-xl xl:text-2xl font-semibold;
}

.titleVG-Col {
    @apply bg-[#6F1264] text-white px-2 text-xl sm:text-xl xl:text-2xl font-semibold;
}

.titleNNyA-Col {
    @apply bg-nnya-fuchsia-chip font-semibold text-xl sm:text-xl text-white px-2 py-1;
}

.titleNNyA-Wh {
    @apply bg-white font-semibold text-xl sm:text-xl text-nnya-fuchsia px-2 py-1;
}

.titleDrogas-Col {
    @apply font-semibold text-xl sm:text-xl bg-rojo text-white px-2 py-1;
}

.titleDrogas-Wh {
    @apply font-semibold text-xl sm:text-xl bg-white text-rojo px-2 py-1;
}

.titleCiberfraude-Col{
    @apply font-semibold bg-[#1d4891] text-white text-lg sm:text-xl px-2 py-1
}

.titleUFEMA-Col{
    @apply font-semibold bg-[#05abb7] text-white text-lg sm:text-xl px-2 py-1
}

.titleAccesoJusticia-Col{
    @apply font-semibold bg-[#006472] text-white text-lg sm:text-xl px-2 py-1
}

.listado {
    @apply list-disc ml-6 space-y-4 text-lg sm:text-xl leading-[1.3] sm:leading-[1.4];
}

.TitleBase {
    @apply text-lg sm:text-xl xl:text-3xl leading-[1.3] sm:leading-[1.2];
}

.TxtBase {
    @apply text-lg sm:text-lg xl:text-2xl leading-[1.3] sm:leading-relaxed;
}

.TxtBase2 {
    @apply text-lg sm:text-base xl:text-2xl leading-[1.3] sm:leading-relaxed;
}

.StandardContainer {
    @apply flex-col sm:flex-wrap w-full max-w-2xl px-10 sm:px-6 mx-auto;
}

.simbol {
    @apply h-[28px] w-auto object-contain z-[1] absolute mt-2 -left-4 hidden sm:block;
}

.Banner1-NNyA {
    @apply hidden sm:flex flex-wrap justify-center gap-x-2 sm:flex-col sm:items-start text-center sm:text-left text-3xl sm:text-4xl font-semibold leading-tight text-white sm:space-y-1 mt-0 sm:mt-4 -mb-4 sm:mb-0
}

.Banner2-NNyA {
    @apply flex sm:hidden flex-wrap justify-center gap-x-2 sm:flex-col sm:items-start text-center sm:text-left text-3xl sm:text-4xl font-semibold leading-tight text-white sm:space-y-1 mt-0 sm:mt-4 -mb-4 sm:mb-0
}

@tailwind utilities;
