@tailwind base;
@tailwind components;

.titleVG-Wh {
    @apply bg-white text-[#6F1264] px-2 text-xl sm:text-xl xl:text-2xl font-semibold;
}

.titleVG-Col {
    @apply bg-[#6F1264] text-white px-2 text-xl sm:text-xl xl:text-2xl font-semibold;
}

.titleNNyA-Col {
    @apply bg-nnya-fuchsia-chip font-semibold text-white px-2 py-1;
}

.titleNNyA-Wh {
    @apply bg-white font-semibold text-nnya-fuchsia px-2 py-1;
}

.titleDrogas-Wh {
    @apply bg-white px-2 py-1;
}

.titleCiberfraude-Col{
    @apply font-semibold bg-[#1d4891] text-white text-lg sm:text-xl px-2 py-1
}

.listado {
    @apply list-disc ml-6 space-y-1.5 text-lg leading-[1.3] sm:leading-relaxed;
}

@tailwind utilities;