---
interface Props {
  title: string;
  description: string;
  bodyClass?: string;
}
import '../style.css';
import Header from '../components/HeaderDrogas.astro'; // Asumiendo que Header es el menú
const { title, description, bodyClass } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="color-scheme" content="light">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
  <style>
    html {
      scroll-behavior: smooth
    }
    body {
      font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji";
    }
    ::-webkit-scrollbar {
      width: 10px;
      height: 10px
    }
    ::-webkit-scrollbar-thumb {
      background: #0003;
      border-radius: 8px
    }
    ::-webkit-scrollbar-track {
      background: transparent
    }
    .animation-delay-200 { animation-delay: 0.2s; }
    .animation-delay-400 { animation-delay: 0.4s; }

    .fill-on-hover {
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
    .fill-on-hover::before {
      content: '';
      position: absolute;
      top: 0; left: 0; bottom: 0;
      background-color: #09788a;
      width: 0;
      transition: all 0.2s ease-out;
      z-index: -1;
    }
    @media (min-width: 640px) {
      .fill-on-hover:hover::before {
        width: 100%; /* En hover, se pinta de izquierda a derecha */
        left: 0;
      }
    }
  </style>
</head>
<body class:list={["min-h-screen text-neutral-900", bodyClass]}>
  <!-- Contenedor donde se cargará el menú, ahora dentro del body -->
  <Header />
  <slot />
  <footer class="mt-8">
        <section class="w-full bg-[#8E1D1D] pt-8">
      <div class="max-w-2xl mx-auto px-6 space-y-8 text-white text-lg sm:text-xl leading-relaxed">
        <div class="flex flex-col pb-12 space-y-6" data-aos="fade-up">
          <h3 class="text-2xl sm:text-3xl lg:text-4xl font-semibold text-white">Canales de denuncia</h3>
          <ul class="flex flex-col space-y-2">
            <li>
              <a href="https://maps.app.goo.gl/vkrwH55K89vv7ybF9" target="_blank" rel="noopener noreferrer" class="inline-flex items-center space-x-3"> 
                <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1761920319/WH_ubicacion_ecw6f4.png" class="w-7 sm:w-8" alt="ubicacion" />
                <div>
                  <p class="text-white text-lg font-medium">PRESENCIAL</p>
                  <p class="text-white text-sm">Av. Paseo Colón 1333</p>
                </div>
              </a>
            </li>
            <li class="pt-1">
              <a href="https://mpfciudad.gob.ar" target="_blank" rel="noopener noreferrer" class="inline-flex items-center space-x-3"> 
                <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1761920319/Wh_web_yrrcww.png" class="w-7 sm:w-8" alt="web" />
                <div>
                  <p class="text-white text-lg font-medium">mpfciudad.gob.ar</p>
                  <p class="text-white text-sm">Por la web</p>
                </div>
              </a>
            </li>
            <li class="pt-3">
              <a href="mailto:denuncias@fiscalias.gob.ar" target="_blank" rel="noopener noreferrer" class="inline-flex items-center space-x-3"> 
                <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1761920319/WH_sobre_koj5i1.png" class="w-7 sm:w-8" alt="email" />
                <div>
                  <p class="text-white text-lg font-medium">denuncias@fiscalias.gob.ar</p>
                  <p class="text-white text-sm">Por correo electrónico</p>
                </div>
              </a>
            </li>
            <li class="pt-3">
              <a href="tel:080033347225" target="_blank" rel="noopener noreferrer" class="inline-flex items-center space-x-3">  
                <img src="https://res.cloudinary.com/du83pwamg/image/upload/v1761920319/WH_telefono_nihgvt.png" class="w-7 sm:w-8" alt="telefono" />
                <div>
                  <p class="text-white text-lg font-medium">0800 33 347225</p>
                  <p class="text-white text-sm">Por teléfono</p>
                </div>
              </a>
            </li>
          </ul>
          
          <div class="pt-6 pb-12 text-center">
            <a href="https://denuncias.fiscalias.gob.ar/en" target="_blank" rel="noopener noreferrer"
              class="inline-block bg-[#b02727] text-white font-semibold px-6 py-3  rounded-lg hover:bg-[#701616] transition">
              Click para denunciar
            </a>
          </div>
        </div>
    </section>
  </footer>
  <script is:inline src="/script/main.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script type="text/javascript">
    // Inicialización de AOS
    AOS.init({
        once: true,
        duration: 800, // Duración por defecto, puede ser sobrescrita en cada página si es necesario
    });
  </script>
</body>
</html>